<form id="ft-form">
  <fieldset>
    <label>
      Name
      <input type="text" name="Name" [(ngModel)]="message.name" placeholder="Name eingeben">
    </label>
    <label>
      E-Mail-Adresse
      <input type="email" name="Email" [(ngModel)]="message.email" pattern="/^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/" placeholder="Email eingeben">
    </label>
    <label>
      Ihre Nachricht
      <textarea rows="3" name="Message" [(ngModel)]="message.message" placeholder="Nachricht schreiben"></textarea>
    </label>
    <div>
      <label>
        <input type="checkbox" name="Datenverarbeitung bestätigt" value="Ja" required>
        Ich bestätige, dass ich mit der Verarbeitung meiner Eingaben zum Zwecke der Anfragebearbeitung, einverstanden bin.
      </label>
    </div>
  </fieldset>
    <button type="button" (click)="postMessage()" class="btns">Einreichen</button>
</form>
