.product{
  perspective: 800px;
  width:306px;
  height:471px;
  float:left;
  margin-right: 23px;
}

.stats-container{
background:#fff;
position:absolute;
top:382px;
left:0;
width: 315px;
height: 100px;
padding: 24px 40px 35px 32px;
}
.stats-container .product_name{
  font-size: 15px;
  color: #393c45;
  font-weight: 700;
}

.stats-container .product_price{
float:right;
color:#5ff7d2;
font-size:22px;
font-weight:600;
}
.add_to_cart{
position:absolute;
top:80px;
left:50%;
width:152px;
font-size:15px;
margin-left:-78px;
border:2px solid #fff;
color:#fff;
text-align:center;
text-transform:uppercase;
font-weight:700;
padding:10px 0;
opacity:0;
}
.add_to_cart:hover{
background:#fff;
color:#5ff7d2;
cursor:pointer;
}
.product {
  overflow: hidden;
}
.product:hover .info-large{
  left: 0;
}
.info-large{
  z-index: 1;
  position: absolute;
  top: 0;
  left: -100%;
  padding: 42px;
  width: 245px;
  height: 395px;
  background-color: rgba(0, 0, 0, 0.5);
  transition: left 300ms ease-out;
}
.info-large h4{
  text-transform:uppercase;
  font-size:28px;
  color:rgb(255, 255, 255);
  font-weight:400;
  padding:0;
}
.price-big{
font-size: 34px;
  font-weight: 600;
  color: #5ff7d2;
  margin-top: 21px;
}
.price-big span{
  color:#d0d0d0;
  font-weight:400;
  text-decoration:line-through;
}
.add-cart-large{
  border: 3px solid #000;
  font-size: 17px;
  background: #fff;
  text-transform: uppercase;
  font-weight: 700;
  padding: 10px;
  font-family: "Open Sans", sans-serif;
  width: 246px;
  margin-top: 38px;
}
.add-cart-large:hover{
color: #5ff7d2;
border-color:#5ff7d2;
}
.info-large h3{
  letter-spacing: 1px;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 14px;
  clear:left;
  margin-top:20px;
  font-weight: 700;
  margin-bottom:3px;
}

.colors-large li{
  float:left;
  list-style:none;
  margin-right:7px;
  width:16px;
  height:16px;
}
.colors-large li a{
  float:left;
  width:16px;
  height:16px;
  border-radius:50%;
}
.colors-large li a:hover{
  width:19px;
  height:19px;
  position:relative;
  top:-1px;
  left:-1px;
}
.sizes-large span{
  font-weight:600;
  color:#b0b0b0;
}
.sizes-large span:hover{color:#000;cursor:pointer;}
