<div id="grid">
  <div class="product" *ngFor="let product of service.products">
    <div class="info-large">
      <h4>{{ product.name }}</h4>

      <div class="price-big">
        <span>${{ product.price }}</span> ${{ product.price }}
      </div>

      <h3>FARBE</h3>
      <div class="colors-large">
        <ul>
          <li *ngFor="let color of product.colors"><a href="" [style]="'background-color:' + color.value"><span></span></a></li>
        </ul>
      </div>

      <h3>GRÖße</h3>
      <div class="sizes-large">
        <span *ngFor="let size of product.sizes">{{ size }}</span>
      </div>

      <button class="add-cart-large" (click)="addToCart(product)">Einkaufswagen</button>

    </div>
    <div class="make3D">
      <div class="product-front">
        <div class="shadow"></div>
        <img *ngIf="product.images?.length" [src]="product.images[0]" alt="" />
        <div class="image_overlay"></div>
        <div class="stats">
          <div class="stats-container">
            <span class="product_price">${{ product.price }}</span>
            <span class="product_name">{{ product.name }}</span>
            <p>{{ product.description }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
