div.cart-icon-top{
	background:#fff url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/245657/cart.png") 0 -3px no-repeat;
	margin:0;
	width:21px;
	height:3px;
}
div.cart-icon-bottom{
	background:#fff url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/245657/cart.png") 0 -3px no-repeat;
	margin:0;
	width:21px;
	height:19px;
}
#checkout{
	border: 2px solid #5ff7d2;
	font-size: 13px;
	font-weight: 700;
	padding: 3px 9px;
	color: #5ff7d2;
  margin: 5px 0px;
}
#sidebar{
	float:left;
	background:#fff;
	width:240px;
	border-right:1px solid #eee;
  height: 100%;
  padding: 10px;
}
#sidebar h3{
	color:#262626;
	text-transform:uppercase;
	font-size:14px;
	font-weight:700;
	padding:35px 0 10px 0;
	letter-spacing:1px;
	clear:both;
}
#cart{padding:0px;}
#cart .empty{
	font-style:italic;
	color:#a0a3ab;
	font-size:14px;
	letter-spacing:1px;
}
#sidebar .checklist{
	padding:0;
}

ul .mat-selection-list, li{
  width: 219px;
}
.checklist ul li{
	font-size:14px;
	font-weight:400;
	list-style:none;
	padding: 7px 16px 7px 0px;
}
.checklist li span{
	float:right;
	width:11px;
	height:11px;
	margin-left:-23px;
	margin-top:4px;
	border: 1px solid #d1d3d7;
	position:relative;
}
.checklist a:hover span{
	border-color:#a6aab3;
}
.checklist .checked span{
	border-color:#8d939f;
}
.colors ul, .sizes ul{
	float:left; width:130px;
}
.colors ul li{padding-left:21px;}
.colors a span{
	border:none;
	position:relative;
	border-radius:100%;
	background-color:#eae3d3;
  width:15px;
	height:15px;
	margin-top:3px;
	margin-left:-21px;
  border: 1px solid white;
}
.colors a:hover span{
  border-width: 0px;
}
#sidebar img{
  margin-top:6px;
}
mat-slider {
  width: 200px;
}
img{
  height: 80px;
  padding: 10px;
}
.price{
  color: #5ff7d2;
  font-weight: 1000;
}
.delete{
  color: #b50d0d;
  font-weight: 1000;
}
#cartItemflex{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
