<div id="sidebar">
  <h3 id="cart">CART</h3>
    <div id="cart">
      <div class="cart-place">
        <div class="cart-icon-top"></div>
      </div>
      <div class="cart-icon-bottom"></div>
      <div class="colors-large">
        <ul>
          <li id="cartItemflex" *ngFor="let cartItem of service.cartItems">
            <img *ngIf="cartItem.images?.length" [src]="cartItem.images[0]" alt="" />
            <span class="price">${{ cartItem.price }}</span>
            <button class="delete" (click)="clearCartItem(cartItem)">Delete</button>
          </li>
        </ul>
      </div>
      <button id="checkout" routerLink="/checkout" routerLinkActive="active" ariaCurrentWhenActive="page">CHECKOUT</button>
      <span class="empty">No items in cart.</span>
    </div>

  <h3>CATEGORIES</h3>
  <div class="checklist categories">
    <ul>
          <mat-selection-list #productsList (selectionChange)="onSelectionChange($event)">
            <mat-list-option *ngFor="let category of categories; index as i" [value]="category.key" [selected]="service.categoryFilter.includes(category.key)">
              {{ category.value }}
            </mat-list-option>
          </mat-selection-list>
      </ul>
  </div>

  <h3>COLORS</h3>
  <div class="checklist colors">
    <ul>
      <li *ngFor="let color of colors">
        <a (click)="clickColor(color.key)" [style.font-weight]="service.colorFilter.includes(color.key) ? 700 : 400"><span [style.background-color]="color.value" [style.border]="color.name == 'White' ? color.border : ''"></span>{{ color.name }}</a>
      </li>
    </ul>
    {{ service.colorFilter }}
  </div>

  <h3>SIZES</h3>
  <div class="checklist sizes">
    <ul>
      <mat-selection-list #sizeList (selectionChange)="onSelectionSizeChange($event)">
        <mat-list-option *ngFor="let size of sizes; index as i" [value]="size.key" [selected]="service.sizeFilter.includes(size.key)">
          {{ size.value }}
        </mat-list-option>
      </mat-selection-list>
      </ul>
  </div>

  <h3>PRICE RANGE</h3>
  <mat-slider
    thumbLabel
    [displayWith]="formatLabel"
    tickInterval="1"
    step="1"
    min="0"
    max="900"
    aria-label="units">
  </mat-slider>
</div>

