<div id="displayNone">
  <span class="closebtn" (click)="close.emit()" title="Close Overlay Login">x</span>
  <div id="body_login">
    <div class="inFormBackg round">
      <div class="inLoginForm">
        <form onsubmit=" return false">
          <div class="title"><h2>Login Here</h2></div>
          <div class="inputGroup">
            <label for="email ">Email</label>
            <input
              type="email"
              placeholder="Enter Email"
              id="email"
            />
          </div>
            <div class="inputGroup">
              <label for="password">Password</label>
              <input
                type="password"
                placeholder="Enter Password"
                ld="password"
              />
            </div>
            <button class="submitForm">Log In</button>
            <a routerLink="/signin" routerLinkActive="active" ariaCurrentWhenActive="page"><button class="submitForm">Sing In</button></a>
          <div class="social">
            <div class="insta">
              <a href="">
                <i class="fab fa-instagram">
                </i>
              </a>
            </div>
            <div class="fb">
              <a>
                <i class="fab fa-facebook">

                </i>
              </a>
            </div>
            <div class=" go">
              <a href="">
                <i class="fab fa-google" (open)="openGoogle()" title="Open Overlay Google">
                </i>
              </a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '{your-app-id}',
      cookie     : true,
      xfbml      : true,
      version    : '{api-version}'
    });

    FB.AppEvents.logPageView();

  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "https://connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));

  FB.getLoginStatus(function(response) {
    statusChangeCallback(response);
  });

</script>
