<div id="displayNone">
  <span class="closebtn" (click)="close.emit()" title="Close Overlay Login">x</span>
  <div id="body_login">
    <div class="inFormBackg round">
      <div class="inLoginForm">
        <form onsubmit=" return false" #userLogin = "ngForm" (ngSubmit)="onSubmit(userLogin)">
          <div class="title"><h2>Login Here</h2></div>
          <div class="inputGroup">
            <label for="email ">Email</label>
            <input
              type="email"
              placeholder="Enter Email"
              name="email" required ngModel
              id="email"
              pattern="/^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/"
            />
          </div>
            <div class="inputGroup">
              <label for="password">Password</label>
              <input
                type="password"
                placeholder="Enter Password"
                id="password"
                name="password" required ngModel
              />
            </div>
            <button class="submitForm">Log In</button>
            <button (click)="openSignup.emit()" title="Open Overlay Signup" class="submitForm">Sign Up</button>

          <div class="social">
            <div class="insta">
              <a href="">
                <i class="fab fa-instagram">
                </i>
              </a>
            </div>
            <div class="fb">
              <a>
                <i class="fab fa-facebook">
                  <!-- <fb:login-button
                    scope="public_profile,email"
                    onlogin="checkLoginState();">
                  </fb:login-button> -->
                </i>
              </a>
            </div>
            <div class=" go">
              <a href="">
                <i class="fab fa-google" title="Open Overlay Google">
                </i>
              </a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

