.spacebetween {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 20px;
}

.header1, .header2:not(app-login) {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding: 10px 0px 0px 10px;
}

li {
  padding: 0px 10px 0px 0px;
}

a{
  text-decoration: none;
}

#search, #login {
  color: #000;
  position: relative;
  display: block;
  font-size: 30px;
  cursor: pointer;
}

.header1 li a{
  color: #000;
  font-weight: 600;
}
