<div id="header" class="spacebetween">
	<ul class="header1">
    <li><a routerLink="/store-component" routerLinkActive="active" ariaCurrentWhenActive="page">STORE</a></li>
    <li><a routerLink="/contact-component" routerLinkActive="active" ariaCurrentWhenActive="page">CONTACT</a></li>
  </ul>
  <ul class="header2">
    <li>
      <a id="login">
        <i class="fa fa-user" (click)="openLogin()" title="Open Overlay Login">
          <app-login></app-login>
        </i>
      </a>
    </li>
    <li>
      <a id="search">
        <i class="fa fa-search" (click)="openSearch()" title="Open Overlay">
          <app-search></app-search>
        </i>
      </a>
    </li>
  </ul>
</div>
