<div id="header" class="spacebetween">
	<ul class="header1">
        <li><a href="">HOME</a></li>
        <li><a href="">BRANDS</a></li>
        <li><a href="">CONTACT</a></li>
    </ul>
    <ul class="header2">
        <li>
            <a href="" id="login">
                <i class="fa fa-user">
                  <app-login>
                  </app-login>
                </i>
            </a>
        </li>
        <li id="myOverlay">
            <a href="" id="search">
                <i class="fa fa-search">
                  <app-search onclick="openSearch()">
                  </app-search>
                </i>
            </a>
        </li>
    </ul>
</div>

<script>
  function openSearch() {
    document.getElementById("myOverlay").style.display = "block";
  }
  function closeSearch() {
  document.getElementById("myOverlay").style.display = "none";
  }
</script>
