<div class="container">
  <div class="spacebetween-row">
     <nav class="footerInfo">
         <ul>
             <li>
                 <a routerLink="/impressum" routerLinkActive="active" ariaCurrentWhenActive="page">impressum</a>
             </li>
             <li class="padding">
                 <a routerLink="/datenschutz" routerLinkActive="active" ariaCurrentWhenActive="page">datenschutz</a>
              </li>
         </ul>
     </nav>
     <nav>
         <li class="copyright">KWM&copy;Copyright2022</li>
     </nav>
  </div>
</div>
