<div class="modal">
  <span (click)="close.emit()" class="close" title="Close Modal">x</span>
  <div *ngIf="!isLogin">
    <form
      class="form"
      #userLogin = "ngForm"
      (ngSubmit)="onSubmit(userLogin)"
      [formGroup]="resetPasswordForm"
    >
      <div class="container">
        <h1>Sign Up</h1>
        <p>Please fill in this form to create an account.</p>
        <hr>
        <label for="email"><b>Email</b></label>
        <input id="email" type="text" placeholder="Enter Email" name="email" formControlName="email" required ngModel>
        <label for="password"><b>New password:</b></label>
        <input id="newPassword" type="password" placeholder="Enter Password"
        formControlName="newPassword" name="password" required ngModel/>
        <div
          *ngIf="newPassword.invalid && (newPassword.dirty || newPassword.touched)"
          class="form-text text-danger"
        >
          <div *ngIf="newPassword.errors?.['required']">
            Field is required
          </div>
          <div *ngIf="newPassword.errors?.['pattern']">
            Password must contain at least one number, one uppercase and a
            lowercase letter and at least 8 characters<br />Password cannot
            contain whitespace
          </div>
        </div>
        <label for="confirmPassword"><b>New password (confirmation):</b></label>
        <input id="confirmPassword" type="password" class="form-control"
        formControlName="confirmPassword" placeholder="Repeat Password" [ngClass]="confirmPasswordClass"/>
        <div
          *ngIf="
            confirmPassword.invalid &&
            (confirmPassword.dirty || confirmPassword.touched)"
          class="form-text text-danger"
        >
          <div *ngIf="confirmPassword.errors?.['required']">
            Field is required
          </div>
          <div *ngIf="confirmPassword.errors?.['pattern']">
            Passwords did not match
          </div>
          <div *ngIf="confirmPassword.errors?.['confirmedValidator']">
            Passwords did not match
          </div>
        </div>
      </div>
      <div class="clearfix">
        <button type="button" (click)="close.emit()" class="cancelbtn">Cancel</button>
        <button [disabled]="confirmPassword.invalid" id="signup-button" type="submit" class="signup" >Sign Up</button>
      </div>
    </form>
  </div>
</div>
