<div class="modal">
  <span (click)="close.emit()" class="close" title="Close Modal">x</span>
  <div *ngIf="!isLogin">
    <form
      class="form"
      #userLogin = "ngForm"
      (ngSubmit)="onSubmit(userLogin)"
      [formGroup]="resetPasswordForm"
    >
      <div class="container">
        <h1>Regestrieren</h1>
        <p>Bitte erstellen Sie ein neues Konto</p>
        <hr>
        <label for="email"><b>Email</b></label>
        <input id="email" type="text" placeholder="Email eingeben" name="email" formControlName="email" required ngModel>
        <label for="password"><b>Passwort</b></label>
        <input id="newPassword" type="password" placeholder="Passwort eingeben"
        formControlName="newPassword" name="password" required ngModel/>
        <div
          *ngIf="newPassword.invalid && (newPassword.dirty || newPassword.touched)"
          class="form-text text-danger"
        >
          <div *ngIf="newPassword.errors?.['required']">
            Das Feld ist leer!
          </div>
          <div *ngIf="newPassword.errors?.['pattern']">
            Das Passwort soll von mind 2 Nummer, größ Buchstaben, klein Buchstaben, SonderZeichen(!, @, ?, %, &) beinhaltet werden<br />
          </div>
        </div>
        <label for="confirmPassword"><b>Passwort wiederholen</b></label>
        <input id="confirmPassword" type="password" class="form-control"
        formControlName="confirmPassword" placeholder="Passwort wiederholen" [ngClass]="confirmPasswordClass"/>
        <div
          *ngIf="
            confirmPassword.invalid &&
            (confirmPassword.dirty || confirmPassword.touched)"
          class="form-text text-danger"
        >
          <div *ngIf="confirmPassword.errors?.['required']">
            Das Feld ist leer!
          </div>
          <div *ngIf="confirmPassword.errors?.['pattern']">
            Passwörter stimmen nicht überein!
          </div>
          <div *ngIf="confirmPassword.errors?.['confirmedValidator']">
            Passwörter stimmen nicht überein!
          </div>
        </div>
      </div>
      <div class="clearfix">
        <button type="button" (click)="close.emit()" class="cancelbtn">Abbrechen</button>
        <button [disabled]="confirmPassword.invalid" id="signup-button" type="submit" class="signup" >Regestrieren</button>
      </div>
    </form>
  </div>
</div>
