<div class="row">
  <div class="col-75">
    <div class="container">
      <form class="form" #userProfile="ngForm" (ngSubmit)="onSubmit(userProfile)">
        <div class="row">
          <div class="col-50">
            <h3>Rechnung Adresse</h3>
            <label for="fname">
              <i class="fa fa-user"></i> Name
            </label>
            <input type="text" id="fname" name="fullname" placeholder="John M. Doe" required [(ngModel)]="user.fullname">
            <label for="email">
              <i class="fa fa-envelope"></i> Email
            </label>
            <input type="text" id="email" name="email" placeholder="john@example.com" required disabled="disabled" [(ngModel)]="user.email">
            <label for="adr">
              <i class="fa fa-address-card-o"></i> Adresse
            </label>
            <input type="text" id="adr" name="address" placeholder="542 W. 15th Street" required [(ngModel)]="user.address">
            <label for="city">
              <i class="fa fa-institution"></i> Stadt
            </label>
            <input type="text" id="city" name="city" placeholder="New York" required [(ngModel)]="user.city">
            <div class="row">
              <div class="col-50">
                <label for="state"> Bundesland </label>
                <input type="text" id="state" name="state" placeholder="NY" required [(ngModel)]="user.state">
              </div>
              <div class="col-50">
                <label for="zip"> PLZ </label>
                <input type="text" id="zip" name="zip" placeholder="10001" required [(ngModel)]="user.zip">
              </div>
            </div>
          </div>
          <div class="col-50">
            <h3>Zahlungsmethoden</h3>
            <label for="fname">Wir akzeprieren</label>
            <div class="icon-container">
              <i class="fa fa-cc-visa" style="color:navy;"></i>
              <i class="fa fa-cc-amex" style="color:blue;"></i>
              <i class="fa fa-cc-mastercard" style="color:red;"></i>
              <i class="fa fa-cc-discover" style="color:orange;"></i>
            </div>
            <label for="cname">Name von Karteninhaber/Innen</label>
            <input type="text" id="cname" name="cardname" placeholder="John More Doe">
            <label for="ccnum">Kartennummer</label>
            <input type="text" id="ccnum" name="cardnumber" placeholder="1111-2222-3333-4444">
            <label for="expmonth">Gültigkeit Monat</label>
            <input type="text" id="expmonth" name="expmonth" placeholder="September">
            <div class="row">
              <div class="col-50">
                <label for="expyear">Gültigkeit Jahr</label>
                <input type="text" id="expyear" name="expyear" placeholder="2018">
              </div>
              <div class="col-50">
                <label for="cvv">CVV/KArtenprüfnummer</label>
                <input type="text" id="cvv" name="cvv" placeholder="352">
              </div>
            </div>
          </div>
        </div>
        <label>
          <input type="checkbox" checked="checked" name="sameadr"> Lieferungadresse ist gleich wie Rechnungadresse!
        </label>
        <input type="submit" value="Weiter zur Kassa" class="btn">
      </form>
    </div>
  </div>
  <div class="col-25">
    <div class="container">
      <h4>Einkaufswagen
        <span class="price" style="color:black">
          <i class="fa fa-shopping-cart"></i>
          <b>{{ service.getItemCount() }}</b>
        </span>
      </h4>
      <div>
        <div *ngFor="let cartItem of service.cartItems">
          <button style="font-size:15px;color:red" (click)="clearCartItem(cartItem)"><i class="fa fa-trash-o"></i></button>
          <span class="count">{{cartItem.count}}</span>
          <span class="price">${{ cartItem.price }}</span>
          <div>
            <img *ngIf="cartItem.images?.length" [src]="cartItem.images[0]" alt="" /><a>{{ cartItem.name }}</a>
          </div>
        </div>
      </div>
      <hr>
      <p>Gesamtsumme <span class="price" style="color:black"><b>${{ service.getTotalPrice() }}</b></span></p>
    </div>
  </div>
</div>
